# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/

# Flutter (déjà couvert par mobile-app/.gitignore, mais on sécurise)
.dart_tool/
build/

# OS
.DS_Store
Thumbs.db

# Dossier temporaire de nettoyage
_a_verifier_puis_supprimer/

# Secrets
medet-react/.env

# Fichiers temporaires
poc_globale/_tmp.jpg